        <%- include('ly-header') -%>
        <%- include('menu') -%>
            <div class="content">
                <div class="title">
                    <h4>账号信息</h4>
                </div>
                <div class="account-info">
                    <div>
                        <label>姓名：</label>
                        <input type="text" value="蒋介石">
                        <span>手机号：13188879877</span>
                        <span class="renew">更换</span>
                        <label>家庭住址：</label>
                        <input class="address" type="text" value="北京北京市房山区周口店萨达说村胡同手4031">
                    </div>
                    <div>
                        <label>座机：</label>
                        <input type="number" value="13188879877">
                        <span>VS编号：13188879877</span>
                        <label class="ID-label">身份证号：</label>
                        <input class="ID" type="number" value="13188879877">
                    </div>
                    <div>
                        <label>出生日期：</label>
                        <select>
                            <option value="">1900</option>
                            <option value="">1901</option>
                            <option value="">1902</option>
                            <option value="">1903</option>
                            <option value="">1904</option>
                            <option value="">1905</option>
                            <option value="">1906</option>
                            <option value="">1907</option>
                            <option value="">1908</option>
                            <option value="">1909</option>
                        </select>
                        <span>年</span>
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                            <option value="">11</option>
                            <option value="">12</option>
                        </select>
                        <span>月</span>
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                            <option value="">11</option>
                            <option value="">12</option>
                            <option value="">13</option>
                            <option value="">14</option>
                            <option value="">15</option>
                            <option value="">16</option>
                            <option value="">17</option>
                            <option value="">18</option>
                            <option value="">19</option>
                            <option value="">20</option>
                            <option value="">21</option>
                            <option value="">22</option>
                            <option value="">23</option>
                            <option value="">24</option>
                            <option value="">25</option>
                            <option value="">26</option>
                            <option value="">27</option>
                            <option value="">28</option>
                            <option value="">29</option>
                            <option value="">30</option>
                            <option value="">31</option>
                        </select>
                        <span>日</span>
                    </div>

                    <div class="service-area">
                        <label>服务区域：</label>
                        <span>北京北京市房山区周口店萨达说村（如需修改请联系客服4008-666-365）</span>
                        <p><span>北京北京市房山区周口店萨达说村</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') -%>
</body>
</html>