<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="main">
      <h4 class="title">我的佣金</h4>
      <div class="yongjin">
        <span class="t1">我赚到的佣金： ￥0.00</span>
        <span class="t2">已经提现的佣金为： ￥0.00</span>
        <button type="submit">提现</button>
      </div>
  
      <div class="container">
        <div class="cont1">
          <span>订单号：</span>
          <input type="text" placeholder="请输入">          
        </div>
        <div class="cont2">
          <span>商品：</span>
          <input type="text" placeholder="请输入">          
        </div>
        <div class="cont3">
          <span>下单时间：</span>
          <input type="text" placeholder="请输入">          
        </div>
      </div>
  
      <div class="content">
        <table>
          <tr>
            <th>序号</th>
            <th>下单时间</th>
            <th>订单号</th>
            <th>商品名称</th>
            <th>商品数量</th>
            <th>佣金金额</th>
            <th>结算状态</th>
            <th>结算时间</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
