    <div class="footer">
        <div class="foot-top">
            <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">农产品新闻资讯</a></li>
                <li><a href="">农产品商城</a></li>
                <li><a href="">知名企业</a></li>
                <li><a href="">供求信息</a></li>
                <li><a href="">展会信息</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">关于我们</a></li>
            </ul>
        </div>
        <p>
            Copyright © 2015. All rights reserved.云农场 版权所有 ICP备案：蒙ICP备13002842号
        </p>
        <p>
            电话：555-555-5555 地址： 753 Main Street E-MAIL:test@altoromutual.com 邮政编码：017100
        </p>
        <div class="foot-img">
            <img src="img/index8.png" alt="">
        </div>
        
        
    </div>
    
    

   
