<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/followcss/style.css">
    <link rel="stylesheet" href="/css/followcss/followShop.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2208685_dwue1w0e1uj.css">
</head>
<body>
    <div class="follow-shop-con">
        <div class="follow-shop-con-name">
            <a href="#"><p>关注的商品</p></a>
        </div>
        <ul class="follow-shop-con-ul1 clear">
            <li class="follow-shop-con-ul1-li">
                <a href="#">关注的商品</a>
                <img src="/img/isFollow.png" alt="">
            </li>
            <li class="follow-shop-con-ul1-li">
                <a href="/myFollow/followBrand">关注的店铺</a>
            </li>
        </ul>
        <div class="follow-shop-allDetails">
            <div class="follow-shop-con-isall">
                <input id="allShopPut" type="checkbox" value="allShop">全选
                <a href="#"><span>加入购物车</span></a>
                <a href="#"><span>取消关注</span></a>
            </div>    
            
            <div class="iconfont follow-shop-con-page vv">
                <div class="fastpage">
                    <a href="#" class="follow-shop-con-page-toppage">
                        <span class="iconfont icon-arrow_left_fat icon1 total"></span>
                        <span class="follow-shop-con-page-topage">上一页</span>
                    </a>
                </div>
                <div class="follow-shop-con-page-onePage">
                    <span id="aa">1</span>
                </div>
                <div class="follow-shop-con-page-towPage">
                    <span id="bb">2</span>
                </div>
                <div id="aaaa" class="lastpage">
                    <a href="#">
                        <span class="follow-shop-con-page-topage">下一页</span>
                        <span class="iconfont icon-arrow_right_fat icon2 total"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/followJs/followShop.js"></script>
</body>
</html>