<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>海外购</title>
    <link rel='stylesheet' href='/css/cyx-header.css' />
    <link rel='stylesheet' href='/css/ce.css' />
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/cyx-footer.css' />
</head>
<body>
<%- include('cyx-header') -%>
    <div class="ce-all">
        <div>
            <span>首页 > 测土配肥</span>
            <text>区域选择：</text>
            <select class="prov"></select>
            <select class="city"></select>
        </div>
        
        <img src="img/index7.jpg" alt="">
        
        <div class="sty">
            <div class="sty-top">
              <span>肥料</span>
            </div>
            <div>
              <ul class="tong">
                <li>
                  <img src="img/06.jpg" alt="">
                </li>
                <li>
                  <a href=""><img src="img/index6.jpg" alt=""></a>
                  <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/01.jpg" alt=""></a>
                  <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/02.jpg" alt=""></a>
                  <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/03.jpg" alt=""></a>
                  <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
                </li>
              </ul>
            </div>
        </div>

        <div class="sty">
            <div class="sty-top">
              <span>农机</span>
            </div>
            <div>
              <ul class="tong">
                <li>
                  <img src="img/06.jpg" alt="">
                </li>
                <li>
                  <a href=""><img src="img/index6.jpg" alt=""></a>
                  <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/01.jpg" alt=""></a>
                  <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/02.jpg" alt=""></a>
                  <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/03.jpg" alt=""></a>
                  <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
                </li>
              </ul>
            </div>
        </div>

        <div class="sty">
            <div class="sty-top">
              <span>解决方案</span>
            </div>
            <div>
              <ul class="tong">
                <li>
                  <img src="img/06.jpg" alt="">
                </li>
                <li>
                  <a href=""><img src="img/index6.jpg" alt=""></a>
                  <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/01.jpg" alt=""></a>
                  <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/02.jpg" alt=""></a>
                  <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
                </li>
                <li>
                  <a href=""><img src="img/03.jpg" alt=""></a>
                  <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
                  <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
                </li>
              </ul>
            </div>
        </div>
    </div>
<%- include('cyx-footer') -%>
<script>
    var provList = ['江苏','浙江','福建','湖南'];
        var cityList = [];
        cityList[0] = ['南京', '苏州', '宿迁', '扬州'];
        cityList[1] = ['杭州', '温州', '宁波', '台州'];
        cityList[2] = ['福州', '厦门', '泉州', '漳州'];
        cityList[3] = ['长沙', '湘潭', '株洲', '湘西'];

        var provSelect = document.querySelector('.prov');
        var citySelect = document.querySelector('.city');


        provList.forEach(function(val, index){
            provSelect.add(new Option(val, index))
        });

        provSelect.onchange = function(){
            var index = this.value;
            citySelect.length = 0;
            cityList[index].forEach(function(val, index){
                citySelect.add(new Option(val, index));
            })
        }
        provSelect.onchange();

</script>
</body>
</html>
