<!-- header -->
<div class="header">
    <ul class="header-top">
        <li>
            <span class="header-goods-address">上海</span> 送货至
            <input class="header-customer-address" value="成都" />
        </li>
        <li>
            <span>您好，欢迎来到</span>
            <a href="/">某商城</a> 请
            <a href="/users/login">【登 录】</a>
            <a href="/users/regist">【注册】</a>
        </li>
        <li>
            <ul class="submenu clear">
                <li>
                    <a href="">个人中心</a>
                </li>
                <li>
                    <a href="">我的订单</a>
                </li>
                <li>
                    <a href="">我的收藏</a>
                </li>
                <li>
                    <a href="">购物车</a>
                    <span class="shopcar-num">0</span> 件
                </li>
                <li class="last">
                    <a href="">客户服务</a>
                </li>
            </ul>
        </li>
        <li>
            <ul class="submenu clear">
                <li>
                    <a href="">手机版</a>
                </li>
                <li class="last">
                    <a href="">网站导航</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="header-body">
        <div class="header-body-left">
            <div class="header-body-left-logo"></div>
            <div class="header-body-left-ads"></div>
        </div>
        <div class="header-body-center">
            <div class="search-group">
                <input type="search" class="search-input" placeholder="输入商品名称及店铺">
                <button type="button" class="search-btn">搜索</button>
                <ul class="search-tags clear">
                    <li class="first">热门搜索:</li>
                    <li>蔬菜种子</li>
                    <li>瓜果种子</li>
                    <li>大田作物</li>
                    <li>复(混)合肥</li>
                    <li>有机肥</li>
                    <li>冲施肥</li>
                </ul>
            </div>

        </div>
        <div class="header-body-right">
            <a href="#" class="shopcar-btn">
                <span class="shopcar-text">我的购物车</span>
                <i class="shopcar-icon"></i>
                <em class="shopcar-amount">0</em>
            </a>
        </div>
    </div>
    <div class="header-footer-wrap">
        <ul class="header-footer">
            <li>
                <a href="/" class = "active">商品服务分类</a>
            </li>
            <li>
                <a href="/home">首页</a>
            </li>
            <li>
                <a href="/chang">厂家直供</a>
            </li>
            <li>
                <a href="/ce">测土配肥</a>
            </li>
            <li>
                <a href="/hai">海外购</a>
            </li>
            <li>
                <a href="#">农技中心</a>
            </li>
            <li>
                <a href="#">品牌街</a>
            </li>
            <li>
                <a href="#">为什么选择某商城</a>
            </li>
        </ul>
    </div>
</div>