<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel='stylesheet' href='/css/cyx-header.css' />
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/cyx-footer.css' />
</head>
<body>

<%- include('cyx-header') -%>

  <div class="main">
    <ul>
      <li class="part1">
        <div class="hidpart">
          <ul class="hpleft">
            <li><span>水溶肥：</span>甲壳菌素 化奥联合</li>
            <li><span>氮肥：</span>甲壳菌素 化奥联合</li>
            <li><span>氨基酸肥：</span>甲壳菌素 化奥联合</li>
          </ul>
          <div class="hpright">
            <p>品牌</p>
            <ul>
              <li><a href="">圣德龙</a></li>
              <li><a href="">富田日和</a></li>
              <li><a href="">万豪肥业</a></li>
              <li><a href="">鲁北化工</a></li>
              <li><a href="">圣德龙</a></li>
              <li><a href="">万豪肥业</a></li>
            </ul>
          </div>
        </div>
        <ul>
          <li>
            <div>
              <img src="img/index1.jpg" alt="">
              <span class="index-sp1">化肥</span>
              <span class="index-sp2 hid1">></span>
            </div>
            <ul class="index-ul">
              <li><a href="">水溶肥</a></li>
              <li><a href="">氮肥</a></li>
              <li><a href="">氨基酸肥</a></li>
              <li><a href="">水溶肥</a></li>
              <li><a href="">氮肥</a></li>
              <li><a href="">氨基酸肥</a></li>
              <li><a href="">水溶肥</a></li>
              <li><a href="">氮肥</a></li>
              <li><a href="">氨基酸肥</a></li>
            </ul>
          </li>
          <li>
            <div>
              <img src="img/index2.jpg" alt="">
              <span class="index-sp1">种子</span>
              <span class="index-sp2">></span>
            </div>
            <ul class="index-ul">
              <li><a href="">蔬菜种子</a></li>
              <li><a href="">大豆种子</a></li>
              <li><a href="">瓜果种子</a></li>
              <li><a href="">蔬菜种子</a></li>
              <li><a href="">大豆种子</a></li>
              <li><a href="">瓜果种子</a></li>
              <li><a href="">蔬菜种子</a></li>
              <li><a href="">大豆种子</a></li>
              <li><a href="">瓜果种子</a></li>
            </ul>
          </li>
          <li>
            <div>
              <img src="img/index3.jpg" alt="">
              <span class="index-sp1">农药</span>
              <span class="index-sp2">></span>
            </div>
            <ul class="index-ul">
              <li><a href="">除草剂</a></li>
              <li><a href="">杀虫剂</a></li>
              <li><a href="">杀菌剂</a></li>
              <li><a href="">除草剂</a></li>
              <li><a href="">杀虫剂</a></li>
              <li><a href="">杀菌剂</a></li>
              <li><a href="">除草剂</a></li>
              <li><a href="">杀虫剂</a></li>
              <li><a href="">杀菌剂</a></li>
            </ul>
          </li>
          <li>
            <div>
              <img src="img/index4.jpg" alt="">
              <span class="index-sp1">农机</span>
              <span class="index-sp2">></span>
            </div>
            <ul class="index-ul">
              <li><a href="">摘果机</a></li>
              <li><a href="">配肥机</a></li>
              <li><a href="">收割机</a></li>
              <li><a href="">摘果机</a></li>
              <li><a href="">配肥机</a></li>
              <li><a href="">收割机</a></li>
              <li><a href="">摘果机</a></li>
              <li><a href="">配肥机</a></li>
              <li><a href="">收割机</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="part2">
        <img src="img/index5.jpg" alt="">
      </li>
      <li class="part3">
        <div class="part3-top">
          <div class="topdiv">
            <span>商城公告</span>
          </div>
          <ul>
            <li><a href="">美酒美食72小时...</a></li>
            <li><a href="">美酒美食72小时...</a></li>
            <li><a href="">美酒美食72小时...</a></li>
            <li><a href="">美酒美食72小时...</a></li>
            <li><a href="">美酒美食72小时...</a></li>
            <li><a href="">美酒美食72小时...</a></li>
          </ul>
        </div>
        <div class="part3-bottom">
          <div class="topdiv">
            <span>本周明星</span>
          </div>
          <img src="img/index6.jpg" alt="">
          <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
          <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
        </div>
      </li>
    </ul>
  </div>
    

  <div class="nei">

    <!--侧边栏-->
    <div class="right">
      <ul>
        <li>
          <div class="tishi">
            <div class="tui">x</div>
            <img class="tii" src="img/u452.png" alt="">
            <p class="tip">你好！ 请 <a href="">登录</a> | <a href="/index2">注册</a></p>
            <div class="ti-bottom">
              <button>我的订单</button>
              <button>我的消息</button>
            </div>
          </div>
          <div class="yiru">
            <p class="span">个人中心</p>
            <img class="yi-img" src="img/u413.png" alt="">
          </div>
          <img class="geren" src="img/gr2_u409.png" alt=""> 
        </li>

        <li>
          <div class="yiru2">
            <p class="span">购物车</p>
            <img class="yi-img" src="img/u413.png" alt="">
          </div>
          <img class="shop" src="img/gwc2_u416.png" alt=""> 
        </li>

        <li>
          <div class="yiru3">
            <p class="span">我的钱包</p>
            <img class="yi-img" src="img/u413.png" alt="">
          </div>
          <img class="qian" src="img/qb2_u423.png" alt=""> 
        </li>

        <li>
          <div class="yiru4">
            <p class="span">我的关注</p>
            <img class="yi-img" src="img/u413.png" alt="">
          </div>
          <img class="like" src="img/gz2_u430.png" alt=""> 
        </li>

        <li>
          <div class="yiru5">
            <p class="span">我的足迹</p>
            <img class="yi-img" src="img/u413.png" alt="">
          </div>
          <img class="zuji" src="img/zj2_u437.png" alt=""> 
        </li>

        <li class="top">
          <div class="yiru6">
            <p class="span">回到顶部</p>
            <img class="yi-img" src="img/u413.png" alt="">
          </div>
          <img id="hui" src="img/top2_u444.png" alt=""> 
        </li>
      </ul>
    </div>


    <div class="mod">
      <p>热卖商品</p>
      <ul class="tong">
        <li>
          <a href=""><img src="img/index6.jpg" alt=""></a>
          <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
          <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
        </li>
        <li>
          <a href=""><img src="img/01.jpg" alt=""></a>
          <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
          <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
        </li>
        <li>
          <a href=""><img src="img/02.jpg" alt=""></a>
          <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
          <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
        </li>
        <li>
          <a href=""><img src="img/03.jpg" alt=""></a>
          <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
          <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
        </li>
        <li>
          <a href=""><img src="img/06.jpg" alt=""></a>
          <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
          <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
        </li>
      </ul>
    </div>


    <div class="banner">
      <a href="">
        <img src="img/index7.jpg" alt="">
      </a>
    </div>


    <div class="sty">
      <div class="sty-top">
        <span>肥料</span>
        <ul>
          <li><a href="">复（混）合肥</a></li>
          <li><a href="">有机肥</a></li>
          <li><a href="">冲施肥</a></li>
          <li><a href="">叶面肥</a></li>
          <li><a href="">菌肥</a></li>
          <li><a href="">磷肥</a></li>
          <li><a href="">氮肥</a></li>
          <li><a href="">钾肥</a></li>
          <li><a href="">水溶肥</a></li>
          <li><a href="">微肥</a></li>
          <li><a href="">育苗肥</a></li>
          <li><a href="">营养土</a></li>
          <li><a href="">更多>></a></li>
        </ul>
      </div>
      <div>
        <ul class="tong">
          <li>
            <img src="img/06.jpg" alt="">
          </li>
          <li>
            <a href=""><img src="img/index6.jpg" alt=""></a>
            <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/01.jpg" alt=""></a>
            <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/02.jpg" alt=""></a>
            <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/03.jpg" alt=""></a>
            <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
          </li>
        </ul>
      </div>
    </div>


    <div class="sty">
      <div class="sty-top">
        <span>种子</span>
        <ul>
          <li><a href="">蔬菜种子</a></li>
          <li><a href="">瓜果种子</a></li>
          <li><a href="">大田作物</a></li>
          <li><a href="">芝麻</a></li>
          <li><a href="">甜瓜</a></li>
          <li><a href="">更多>></a></li>
        </ul>
      </div>
      <div>
        <ul class="tong">
          <li>
            <img src="img/06.jpg" alt="">
          </li>
          <li>
            <a href=""><img src="img/index6.jpg" alt=""></a>
            <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/01.jpg" alt=""></a>
            <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/02.jpg" alt=""></a>
            <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/03.jpg" alt=""></a>
            <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
          </li>
        </ul>
      </div>
    </div>


    <div class="sty">
      <div class="sty-top">
        <span>农药</span>
        <ul>
          <li><a href="">除草剂</a></li>
          <li><a href="">杀菌剂</a></li>
          <li><a href="">植物调节剂</a></li>
          <li><a href="">种衣剂</a></li>
          <li><a href="">农药残留降解液</a></li>
          <li><a href="">更多>></a></li>
        </ul>
      </div>
      <div>
        <ul class="tong">
          <li>
            <img src="img/06.jpg" alt="">
          </li>
          <li>
            <a href=""><img src="img/index6.jpg" alt=""></a>
            <div class="css1">山东宝源 冲施肥 含腐殖酸 水溶肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥82.00</span><span>￥98.39<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/01.jpg" alt=""></a>
            <div class="css1">LUXI 复合肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥64.00</span><span>￥83.89<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/02.jpg" alt=""></a>
            <div class="css1">华粮多功能页面肥 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥72.00</span><span>￥81.27<div class="hr"></div> </span></div>
          </li>
          <li>
            <a href=""><img src="img/03.jpg" alt=""></a>
            <div class="css1">硝态丹 复合肥料 （12-4-16）20kg</div>
            <div class="css2">现价：<span>￥93.00</span><span>￥105.71<div class="hr"></div> </span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="dian"></div>
  <%- include('cyx-footer') -%>
 
    
  

 

  <script src="/js/jquery-1.11.1.js"></script>
  <script>
      hui.onclick = function(){
            scrollTo(0,0);
        }
      
    $('.tui').on('click',function(){
      $('.tishi').css('display','none')
    })

    $('.geren').hover(function(){
      $('.yiru').css('display','block');
      $(this).attr('src','img/gr3_u410.png');
    },function(){
      $('.yiru').css('display','none');
      $(this).attr('src','img/gr2_u409.png');
    })

    $('.shop').hover(function(){
      $('.yiru2').css('display','block');
      $(this).attr('src','img/gwc3_u417.png');
    },function(){
      $('.yiru2').css('display','none');
      $(this).attr('src','img/gwc2_u416.png');
    })

    $('.qian').hover(function(){
      $('.yiru3').css('display','block');
      $(this).attr('src','img/qb3_u424.png');
    },function(){
      $('.yiru3').css('display','none');
      $(this).attr('src','img/qb2_u423.png');
    })

    $('.like').hover(function(){
      $('.yiru4').css('display','block');
      $(this).attr('src','img/gz3_u431.png');
    },function(){
      $('.yiru4').css('display','none');
      $(this).attr('src','img/gz2_u430.png');
    })

    $('.zuji').hover(function(){
      $('.yiru5').css('display','block');
      $(this).attr('src','img/zj3_u438.png');
    },function(){
      $('.yiru5').css('display','none');
      $(this).attr('src','img/zj2_u437.png');
    })

    $('#hui').hover(function(){
      $('.yiru6').css('display','block');
      $(this).attr('src','img/top3_u445.png');
    },function(){
      $('.yiru6').css('display','none');
      $(this).attr('src','img/top2_u444.png');
    })

    var m = 1;
    $('.geren').on('click',function() {
            if(m){
                $('.tishi').css('top','40px');
                $('.tishi').css('display','block');
                m = 0;
            }else{
                $('.tishi').css('display','none');
                m = 1;
            }
        })
    $('.shop').on('click',function() {
        if(m){
            $('.tishi').css('top','100px');
            $('.tishi').css('display','block');
            m = 0;
        }else{
            $('.tishi').css('display','none');
            m = 1;
        }
    })
    $('.qian').on('click',function() {
        if(m){
            $('.tishi').css('top','160px');
            $('.tishi').css('display','block');
            m = 0;
        }else{
            $('.tishi').css('display','none');
            m = 1;
        }
    })
    $('.like').on('click',function() {
        if(m){
            $('.tishi').css('top','220px');
            $('.tishi').css('display','block');
            m = 0;
        }else{
            $('.tishi').css('display','none');
            m = 1;
        }
    })
    $('.zuji').on('click',function() {
        if(m){
            $('.tishi').css('top','280px');
            $('.tishi').css('display','block');
            m = 0;
        }else{
            $('.tishi').css('display','none');
            m = 1;
        }
    })

    $('.hid1').on('click',function() {
        if(m){
            $('.hidpart').css('display','block');
            m = 0;
        }else{
            $('.hidpart').css('display','none');
            m = 1;
        }
    })
  </script>
  </body>
</html>