<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ly-header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/person.css">
    <link rel="stylesheet" href="/css/service.css">
    <link rel="stylesheet" href="/css/farm.css">
    <link rel="stylesheet" href="/css/address.css">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header class="nav clear">
        <div class="nav-item clear">
            <ul>
                <li>
                    收藏 XXXX
                </li>
                <li>送货至   山东 [更换]</li>
            </ul>
        </div>
        <div class="nav-item">
            <p>您好，欢迎来到 某商城！！请【登 录】【免费注册】</p>
        </div>
        <div class="nav-item">
            <ul>
                <li>个人中心</li>
                <li>我的订单</li>
                <li>购物车0件</li>
                <li>客户服务</li>
            </ul>
        </div>
        <div class="nav-item">
            <ul>
                <li>手机版</li>
                <li>网站导航</li>
            </ul>
        </div>
    </header>

    <div class="container">
        <nav>
            <div class="clear">
                <div class="logo">
                    <img src="" alt="商城logo">
                </div>
                <div class="ads">
                    <img src="" alt="小广告">
                </div>
            </div>

            <div class="search">
                <div class="search-box">
                    <input type="text" placeholder="输入商品名称及店铺名称"> 
                    <span class="search-btn">
                        <a href="">搜索</a>
                    </span>
                </div>
                <div class="hots clear">
                    <ul class="hots-links ">
                        <li>热门搜索:</li>
                        <li><a href="">蔬菜种子</a></li>
                        <li><a href="">瓜果种子</a></li>
                        <li><a href="">大田作物</a></li>
                        <li><a href="">复(混)合肥</a></li>
                        <li><a href="">有机肥</a></li>
                        <li><a href="">冲施肥</a></li>
                    </ul>
                </div>
            </div>

            <div class="cart">
                <img src="/img/cart.png" alt="购物车">
            </div>
        </nav>

        <div class="navbar">
            <div class="classification">
                <span>商品服务分类</span>
            </div>
            <div class="navbar-item">
                <ul>
                    <li><a href="">首页</a></li>
                    <li><a href="">厂家直供</a></li>
                    <li><a href="">测土配肥</a></li>
                    <li><a href="">海外购</a></li>
                    <li><a href="">农机中心</a></li>
                    <li><a href="">品牌街</a></li>
                    <li><a href="">为什么选择某商城</a></li>
                </ul>
            </div>
        </div>