<div class="clear">
    <div class="left">
        <div class="personal">
            <h4>个人中心</h4>
        </div>
        <ul class="menu">
            <li class="menu-tag">我的交易</li>
            <li><a href="">我的订单</a></li>
    
            <li class="menu-tag">用户管理</li>
            <li><a href="">农场主列表</a></li>
            <li><a href="">我的佣金</a></li>
            <li><a href="">村站列表</a></li>
    
            <li class="menu-tag">我的服务</li>
            <li><a href="">大客户认证</a></li>
    
            <li class="menu-tag">我的关注</li>
            <li><a href="">关注的商品</a></li>
            <li><a href="">关注的品牌</a></li>
            
            <li class="menu-tag">我的资产</li>
            <li><a href="">我的佣金</a></li>
            <li><a href="">我的余额</a></li>
            <li><a href="">我的红包</a></li>
            <li><a href="">云农宝</a></li>
            <li><a href="">丰收汇补贴</a></li>
            <li><a href="">我的贷款</a></li>
            <li><a href="">我的银行卡</a></li>
            
            <li class="menu-tag">设置</li>
            <li><a href="/person">个人资料</a></li>
            <li><a href="/account">账号信息</a></li>
            <li><a href="/farm">农场信息</a></li>
            <li><a href="/address">收货地址</a></li>
            <li><a href="/service">服务站信息</a></li>
            <li><a href="">安全设置</a></li>
            
            <li class="menu-tag">账号关联</li>
            <li><a href="">云农宝绑定</a></li>
      
        </ul>
    </div>
