<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/css/my_red_use.css">
</head>
<body>
  <div class="main">
    <h4 class="title">我的红包</h4>
    <div class="perhaps">
      <a href="" class="a1">未使用(0)</a>
      <a href="">已使用(0)</a>
      <a href="">已过期(0)</a>
    </div>
    <div class="container">暂无卡卷</div>
  </div>
</body>
</html>