<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/css/my_red_envelope.css">
</head>
<body>
  <div class="main">
    <h4 class="title">我的红包</h4>
    <div class="perhaps">
      <a href="javascript:" class="a1">未使用(2)</a>
      <a href="/use">已使用(0)</a>
      <a href="/overdue">已过期(0)</a>
    </div>
    <div class="container">
      <div class="left">
        <div>
          <img src="/img/hongbao.png" alt="图片不存在">          
        </div>
        <div>
          <p>三农好能人5元现金券</p>
          <p><span>有效期：</span>2015-09-01至2020-11-23</p>
          <p>卷号：YNC88822278325365227</p>
          <p>使用规则：限制自营使用</p>          
        </div>
      </div>
      <div class="right">
        <div>
          <img src="/img/hongbao.png" alt="图片不存在">          
        </div>
        <div>
          <p>自营优惠券</p>
          <p><span>有效期：</span>2015-06-01至2020-12-23</p>
          <p>卷号：YNC88822278325365227</p>
          <p>使用规则：限制自营使用</p>          
        </div>
      </div>
    </div>
  </div>
</body>
</html>