<%- include('doctype') -%>

    <style>
        .body {
            padding: 40px 160px;
            background-color: #fff;
            min-height: 410px;
        }
        
        .body-title {
            font-size: 18px;
            text-align: center;
            letter-spacing: 3px;
        }
        
        .body-time {
            text-align: right;
            margin: 30px 0;
            height: 30px;
            line-height: 30px;
        }
        
        .body-content p {
            margin-top: 25px;
        }
        
        .body-subtitle {
            padding: 25px 0;
        }
    </style>

    <%- include('headbody') -%>

        <%- include('header') -%>
            <!-- body -->
            <div class="body">
                <h1 class="body-title">某商城用户协议</h1>
                <h4 class="body-time">2020-03-27 17:42:49</h4>
                <div class="body-content">
                    <p>本协议是您与某商城网站（简称"本站"，网址：www.ync365.com）所有者（以下简称为"某商城"）之间就某商城网站服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您同意注册后，本协议即构成对双方有约束力的法律文件。</p>
                    <p class="body-subtitle">第1条本站服务条款的确认和接纳</p>
                    <p>1.1用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定</p>
                    <p>1.2用户点击同意本协议的，即视为用户确认自己具有享受本站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
                    <p>1.3如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本站。</p>
                    <p>1.4某商城保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p>
                </div>
            </div>

            <%- include('footer') -%>