            <%- include('ly-header') -%>
            <%- include('menu') -%>
            <div class="content">
                <div class="title">
                    <h4>服务站信息</h4>
                </div>
                <div class="service">
                    <h4>村级服务站信息</h4>
                    <div class="service-info">
                        <p>联系人：</p>
                        <p>联系电话：</p>
                        <p>地址：</p>
                        <p>服务区域：</p>
                    </div>
                </div>

                <div class="contact">
                    <p>如果您在购买农资的时候有任何问题，可以咨询您的村站服务商，如果对此服务商的态度，服务水平有任何意见和建议，请联系我们： 4008 666 365</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') -%>

    <script src="/js/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            function getServiceData() {
                $.ajax({
                    url: '/service/list',
                    method: 'GET'
                })
                .done(function (res) {
                    if (res.state === '200') {
                        render(res.data);
                    }
                })
                .fail(function (err) {
                    console('获取数据失败：', err);
                });
            }
            getServiceData();

            function render(data) { // 用于渲染 DOM
                console.log(data);

                // if (data.length === 0) { // 代表没有数据
                //     var $null = `
                //     <div class="data-null">没有更多的数据</div>
                //   `;
                //     return $('.article-content').append($null);
                // }
                for (var i = 0; i < data.length; i++) {
                    var $item = `    
                    <div class="info-detail">
                        <p>${data[i].receiver}</p>
                        <p>${data[i].tel}</p>
                        <p>${data[i].province}${data[i].city}${data[i].county}${data[i].detailAddress}</p>
                        <p>山东省济宁市嘉祥县嘉祥镇街道办事</p>
                    </div>
                        `;
                    $('.service').append($item);
                }
            }
        })
    </script>
</body>
</html>