<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/followcss/style.css">
    <link rel="stylesheet" href="/css/followcss/vipapply.css">
</head>
<body>
<!-- 基础信息页面 -->
    <div class="vip-basics">
        <div class="vip-basics-top">
            <span>大户认证</span>
        </div>
        <div class="vip-basics-nav">
            <a href="">
                <div class="vip-basics-nav-con">
                    <div><p>1</p></div>
                    <div>
                        <span>基础信息确认</span>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="vip-basics-nav-con basics-tow">
                    <div><p>2</p></div>
                    <div>
                        <span>服务站确认</span>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="vip-basics-nav-con ">
                    <div><p>3</p></div>
                    <div>
                        <span>完成</span>
                    </div>
                </div>
            </a>
        </div>


        <div class="vip-basics-con">
            <div class="vip-basics-con-div1">
                <div>
                    <span>真实姓名：</span>
                </div>
                <input class="vip-basics-con-put1 name" type="text" name="" id="">
            </div>
            <div class="vip-basics-con-div1">
                <div>
                    <span>身份证号：</span>
                </div>
                <input class="vip-basics-con-put1 sfz" type="number" name="" id="">
            </div>
            <div class="vip-basics-con-div1">
                <div>
                    <span>默认收货地址:</span>
                </div>

                <select name="" id="province">
                    <option class="one" value="-1">请选择 省</option>
                </select>
                <select name="" id="sity">
                    <option value="-1">请选择 市</option>
                </select>
                <select name="" id="area">
                    <option value="-1">请选择 区</option>
                </select>
                <input class="vip-basics-con-put2 xx dz" type="text" placeholder="详细地址">
            </div>

            <div class="vip-basics-con-div1 vip-basics-con-put3">
                <div>
                    <span>种植类：</span>
                </div>
                
                <input class="checkboxs" type="checkbox" name="" id="" value="小麦">小麦
                <input class="checkboxs" type="checkbox" name="" id="" value="玉米">玉米
                <input class="checkboxs" type="checkbox" name="" id="" value="大豆">大豆
                <input class="checkboxs" type="checkbox" name="" id="" value="棉花">棉花
                <input class="xx xxs zzw" type="text" placeholder="或其他种植作物">
            </div>
            <div class="vip-basics-con-div1">
                <div>
                    <span>银行类型：</span>
                </div>
                
                <input class="yhlx" type="text" name="" id="">
            </div>
            <div class="vip-basics-con-div1">
                <div>
                    <span>银行卡开户行：</span>
                </div>
                
                <input class="khh" type="text" name="" id="">
            </div>
            <div class="vip-basics-con-div1">
                <div>
                    <span>银行卡号：</span>
                </div>
                <input class="yhknumber" type="number" name="" id="">
            </div>
            <div class="vip-basics-con-div1">
                <div>
                    <span>开户人姓名：</span>
                </div>
                <input class="name khrname" type="text" name="" id="">
            </div>
            <a class="vip-basics-con-a"  href="#">
                <span>下一步</span>
            </a>
        </div>
        <div class="alerterr">
            <span>输入错误</span>
            <span><a href="#">确定</a></span>
        </div>
    </div>

    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/followJs/vipbasics.js"></script>
</body>
</html>