<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/followcss/style.css">
    <link rel="stylesheet" href="/css/followcss/vipapply.css">
</head>
<body>
    <div class="vip-site">
        <div class="vip-site-con">
            <div class="vip-site-con-nav">
                <div class="vip-site-con-nav-bh"><span>编号选择</span></div>
                <div class="vip-site-con-nav-dz"><span>地址选择</span></div>
            </div>
            <div class="vip-site-con-text">
                <div class="vip-site-con-text-none vip-site-aa">
                    <div class="vip-site-con-text-address">
                        <span>服务村站地址：</span>
                        <select name="" id="province">
                            <option value="-1">请选择省</option>
                        </select>
                        <select name="" id="sity">
                            <option value="-1">请选择市</option>
                        </select>
                        <select name="" id="area">
                            <option value="-1">请选择区</option>
                        </select>
                    </div>
                    <div class="vip-site-con-text-num">
                        <div>
                            <span>服务站编号:</span>
                            <input class="vip-site-con-text-num-number" type="number">
                        </div>
                        <div>
                            <span>服务站电话:</span>
                            <input class="vip-site-con-text-num-phone" type="number">
                        </div>
                    </div>
                </div>
                <div class="vip-site-con-text-none2 vip-site-aa">
                    <div class="vip-site-con-text-none2-number">
                        <span>输入您所在村字编号</span>
                        <input class="vip-site-con-jcput" type="text">
                        <a class="vip-site-jcbhaa" href="#">监测编号</a>
                    </div>
                    <p>请核实监测到的信息</p>
                </div>
                <div class="vip-site-con-text-none3">
                    <h1>您的大客户申请已提交，请等待审核</h1>
                </div>
            </div>
        </div>
        <div class="vip-site-con-last">
            <a href="#">
                <span>下一步</span>
            </a>
        </div>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/followJs/vipsite.js"></script>
</body>
</html>