<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/followcss/style.css">
    <link rel="stylesheet" href="/css/followcss/vipapply.css">
</head>
<body>
    <div class="vip-start">
        <div class="vip-start-img"></div>
        <a href="#">
            <div class="vip-start-btn"><span>立即认证</span></div>
        </a>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/followJs/vipapply.js"></script>
</body>
</html>