
<body>
    <header>
        <nav>
            <ul class="top-list">
                <li>
                    送货至 山东 
                    [<a href="">更换</a>]
                </li>
                <li>
                    您好，欢迎来到 <a href="">云农场</a>请【<a href="">登录</a>】【<a href="">免费注册</a>】
                </li>
                <li>
                    <a href="">个人中心</a>  |   <a href="">我的订单</a>   |    <a href="">购物车0件</a>  |  <a href="">客户服务</a>  
                </li>
                <li>
                    <a href="">手机版</a>   |   <a href="">网站导航</a>
                </li>
            </ul>
        </nav>
        <div class="mid-search">
            <div class="mid-m">
                <img class="logo fl" src="/img/logo.png" alt="">
                <div class="input-box fl">
                    <div class="input-t">
                        <input class=" input fl" type="text" placeholder="输入商品名称及店铺名称">
                        <div class="search fl">搜索</div>
                    </div>
                    <div class="input-b">热门搜索：蔬菜种子  瓜果种子  大田作物  复(混)合肥  有机肥  冲施肥</div>
                </div>
                <div class="shopcar fl">
                    我的购物车
                </div>
            </div>
        </div>
    </header>
    <ul class="cata">
        <li class="fuwu-type"><a href="">商品服务分类</a></li>
        <li><a href="">首页</a></li>
        <li><a href="">厂家直供</a></li>
        <li><a href="">测土配肥</a></li>
        <li><a href="">海外购</a></li>
        <li><a href="">农技中心</a></li>
        <li><a href="">品牌街</a></li>
        <li><a href="">为什么选择某商城</a></li>
    </ul>
    <div class="po">
        <div class="po-left fl">当前位置: 首页 > <%= position %></div>
        <div class="po-right fr"></div>
    </div>
    
    