* {
    margin: 0;
    padding: 0;
    color: black;
}
.modle{
    padding-top: 230px;
}
.modle>p{
    font-size: 14px;
    margin-left: 50px;
}
.modle>img{
    margin-left: 50px;
    width: 1250px;
}
.all-sp{
    width: 1300px;
    text-align: center;
}
.sp1{
    font-size: 30px;
    font-weight: 600;
}
.sp2{
    font-size: 18px;
    font-weight: 600;
}
.goods-list {
    width: 1280px;
    margin: 40px auto;
    overflow: hidden;
}
.goods-img {
    width: 100px;
    height: 120px;
}
.article-item {
    padding: 10px;
    border: 1px solid gray;
    width: 270px;
    float: left;
    margin: 12px;
}
.pages {
    width: 300px;
    height: 40px;
    margin: 0 auto;
}
.pagenum {
    padding: 4px 12px;
    border: 1px solid lightgray;
    cursor: pointer;
}
#prev-btn, #next-btn {
    background: transparent;
    border: 1px solid lightgray;
    outline: none;
    padding: 7px 12px;
}
#prev-btn {
    position: relative;
    bottom: 2px;
    left: 5px;
}
#next-btn {
    position: relative;
    bottom: 2px;
}
