<ul>
  <li>
    <div class="mail">
      <span>QQ邮箱：</span>
      <input type="text" class="text-mail" required>
    </div>
    <div class="msg-mail">请输入QQ邮箱且邮箱为数字开头，目前只支持QQ邮箱</div>
  </li>
  <li class="vercode">
    <div class="codebox">
      <input type="text" class="text-yzm" required>
      <span class="yanzm"></span>
      <a href="javascript:;" class="freshYzm">刷新</a>
    </div>
    <div class="msg-yzm"></div>
  </li>
  <li>
    <button type="button" class="btn1 btn-hover">下一步</button>
  </li>
</ul>

