<ul>
  <li>
    <p>请点击获取验证码并在邮箱：<span class="user-mail"></span> 中查看验证码</p>
  </li>
  <li>
    <div class="mail">
      <span>验证码：</span>
      <input type="text" class="text-mail-code" required>
    </div>
    <div>
      <button type="button" class="get-mail-code">获取验证码</button>
    </div>
  </li>
  <li>
    <button type="button" class="btn2 btn-hover">下一步</button>
  </li>
</ul>