<ul>
  <li>
    <div class="mail">
      <span>设置密码：</span>
      <input type="password" class="pwd pwd1" required placeholder="6-20位大小写英文字母、特殊符号或数字">
    </div>
    <div class="msg-mail">6-20位大小写英文字母、特殊符号或数字，特殊符号包括 ~ ! @ # $ % ^ & *</div>
  </li>
  <li class="confirm-pwd">
    <div class="mail">
      <span>确认密码：</span>
      <input type="password" class="pwd pwd2" required placeholder="请再次输入密码">
    </div>
    <div class="msg-pwd">两次密码不相同</div>
  </li>
  <li>
    <button type="button" class="btn3 btn-hover">完成</button>
  </li>
</ul>
